<app-navbar></app-navbar>
<mat-card style="margin-bottom: 41vh;
">
<form [formGroup]="fpassword" (ngSubmit)="pResetSend()">
    <div class="container">
        <h1>Password Reset</h1>
        <p>Please fill in the correct credentials to Rest Password</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input  type="email" [formControl]='username' placeholder="Enter your Email" class="username" minlength="5">
        <br/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors.required"> Email is required. </div>
                <div *ngIf="username.errors.minlength"> Email must be at least 5 characters long. </div>
            </div>
            <hr>
            <button type="submit"  class="registerbtn">Reset Pssword</button>
    </div>
</form>
</mat-card>

<app-footer></app-footer>
